.algo-description {
    background-color: #292940;
    color: #ffffff;
    /* margin: 20px auto; */
    padding: 20px;
    min-width: 98.6%;
    /* border-radius: 5px; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    font-size: 14px;
}

.algo-description h3 {
    margin-bottom: 20px;
    font-size: 40px;
    color: #00bcd4;
    text-transform: uppercase;
}

.algo-description p {
    line-height: 1.5;
    font-size: large;
}
